<div class="container mt-5">
  <h2 class="text-center">Edit User: <%= @user.email %></h2>

  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", readonly: true %>
    </div>

    <div class="form-group">
      <%= f.label :user_type %>
      <%= f.select :user_type, ['user', 'admin'], {}, class: "form-control" %>
    </div>

    <div class="form-group text-center">
      <%= f.submit "Update User", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
