<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <h1 class="text-primary mb-4 display-4">
        Welcome, <%= current_user.admin? ? "Admin" : current_user.name %>!
      </h1>
      <p class="lead">Here is an overview of your account and activity.</p>
    </div>
  </div>

  <div class="row mb-4 justify-content-center">
    <div class="col-auto">
      <%= link_to "Manage Posts", posts_path, class: "btn btn-dark me-2 mb-2 mb-md-0 shadow-sm btn-lg" %>
      <%= link_to "Clinic", clinic_welcomes_path, class: "btn btn-primary me-2 mb-2 mb-md-0 shadow-sm btn-lg" %>
      <%= link_to "School", school_welcomes_path, class: "btn btn-info me-2 mb-2 mb-md-0 shadow-sm btn-lg" %>
    </div>
    <% if current_user.user? %>
      <div class="col-auto">
        <%= link_to "Users", users_path, class: "btn btn-secondary me-2 mb-2 mb-md-0 shadow-sm btn-lg" %>
      </div>
    <% end %>

    <% if current_user.admin? %>
      <div class="col-auto">
        <%= link_to "Manage Users", manage_users_users_path, class: "btn btn-warning me-2 mb-2 mb-md-0 shadow-sm btn-lg" %>
      </div>
    <% else %>
      <div class="col-auto">
        <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary me-2 mb-2 mb-md-0 shadow-sm btn-lg" %>
      </div>
    <% end %>
  </div>

  <div class="row mb-4">
    <% if current_user.admin? %>
      <%= render 'admin_cards' %>
    <% else %>
      <%= render 'user_cards' %>
    <% end %>

    <div class="col-md-3 mb-3">
      <%= link_to user_path(current_user) do %>
        <div class="card text-center h-100 shadow-lg border-info">
          <div class="card-body">
            <h5 class="card-title">Active Sessions</h5>
            <p class="card-text display-4 text-info">5</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% if current_user.admin? %>
      <%= render 'admin_charts' %>
    <% else %>
      <%= render 'user_charts' %>
    <% end %>
  </div>
</div>
